In [21]:
import duckdb

table_names = ['purchase_table', 'customer_table', 'customer_review_table', 'purchase_customer_mapping_table']
with duckdb.connect('../data/shopping.db') as con:
    for name in table_names:
        con.sql(f"CREATE OR REPLACE TABLE {name} AS SELECT * FROM read_csv_auto('../data/{name}.csv', normalize_names=True)")

! cd ../dbt_shopping; dbt run

with duckdb.connect('../data/shopping.db') as con:
    display(con.sql('show tables').df())

11:29:26  Running with dbt=1.6.6
11:29:26  Registered adapter: duckdb=1.6.1
11:29:26  Found 6 models, 0 sources, 0 exposures, 0 metrics, 351 macros, 0 groups, 0 semantic models
11:29:26
11:29:26  Concurrency: 1 threads (target='dev')
11:29:26
11:29:26  1 of 6 START sql table model main.customers .................................... [RUN]
11:29:26  1 of 6 OK created sql table model main.customers ............................... [OK in 0.05s]
11:29:26  2 of 6 START sql table model main.purchase_customer_mapping .................... [RUN]
11:29:26  2 of 6 OK created sql table model main.purchase_customer_mapping ............... [OK in 0.02s]
11:29:26  3 of 6 START sql table model main.purchases .................................... [RUN]
11:29:26  3 of 6 OK created sql table model main.purchases ............................... [OK in 0.03s]
11:29:26  4 of 6 START sql table model main.reviews ...................................... [RUN]
11:29:26  4 of 6 OK created sql table model main.reviews ................................. [OK in 0.02s]
11:29:26  5 of 6 START sql table model main.shopping_combined ............................ [RUN]
11:29:26  5 of 6 OK created sql table model main.shopping_combined ....................... [OK in 0.04s]
11:29:26  6 of 6 START sql table model main.upsell_customer_ranking ...................... [RUN]
11:29:26  6 of 6 OK created sql table model main.upsell_customer_ranking ................. [OK in 0.03s]
11:29:26
11:29:26  Finished running 6 table models in 0 hours 0 minutes and 0.26 seconds (0.26s).
11:29:26
11:29:26  Completed successfully
11:29:26
11:29:26  Done. PASS=6 WARN=0 ERROR=0 SKIP=0 TOTAL=6

                              name
0            customer_review_table
1                   customer_table
2                        customers
3        purchase_customer_mapping
4  purchase_customer_mapping_table
5                   purchase_table
6                        purchases
7                          reviews
8                shopping_combined
9          upsell_customer_ranking